<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="grab.dal.mapper.CompanyInfoMapper" >
  <resultMap id="BaseResultMap" type="grab.dal.model.CompanyInfo" >
    <id column="key_id" property="keyId" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="register_id" property="registerId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="credit_code" property="creditCode" jdbcType="VARCHAR" />
    <result column="reg_Status" property="regStatus" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="legal_person_name" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="reg_capital" property="regCapital" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="register_date" property="registerDate" jdbcType="DATE" />
    <result column="register_org" property="registerOrg" jdbcType="VARCHAR" />
    <result column="estiblish_Time" property="estiblishTime" jdbcType="DATE" />
    <result column="end_date" property="endDate" jdbcType="DATE" />
    <result column="humanNames" property="humannames" jdbcType="VARCHAR" />
    <result column="orginal_Score" property="orginalScore" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="category_Code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="trademarks" property="trademarks" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="base" property="base" jdbcType="VARCHAR" />
    <result column="update_Time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="grab.dal.model.CompanyInfoWithBLOBs" extends="BaseResultMap" >
    <result column="business_scope" property="businessScope" jdbcType="LONGVARCHAR" />
    <result column="all_info" property="allInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    key_id, id, register_id, org_id, name, credit_code, reg_Status, company_type, legal_person_name, 
    reg_capital, address, register_date, register_org, estiblish_Time, end_date, humanNames, 
    orginal_Score, score, category_Code, industry, trademarks, type, base, update_Time, 
    path
  </sql>
  <sql id="Blob_Column_List" >
    business_scope, all_info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from company_info
    where key_id = #{keyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from company_info
    where key_id = #{keyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="grab.dal.model.CompanyInfoWithBLOBs" >
    insert into company_info (key_id, id, register_id, 
      org_id, name, credit_code, 
      reg_Status, company_type, legal_person_name, 
      reg_capital, address, register_date, 
      register_org, estiblish_Time, end_date, 
      humanNames, orginal_Score, score, 
      category_Code, industry, trademarks, 
      type, base, update_Time, 
      path, business_scope, all_info
      )
    values (#{keyId,jdbcType=INTEGER}, #{id,jdbcType=BIGINT}, #{registerId,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{creditCode,jdbcType=VARCHAR}, 
      #{regStatus,jdbcType=VARCHAR}, #{companyType,jdbcType=VARCHAR}, #{legalPersonName,jdbcType=VARCHAR}, 
      #{regCapital,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{registerDate,jdbcType=DATE}, 
      #{registerOrg,jdbcType=VARCHAR}, #{estiblishTime,jdbcType=DATE}, #{endDate,jdbcType=DATE}, 
      #{humannames,jdbcType=VARCHAR}, #{orginalScore,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{categoryCode,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{trademarks,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{base,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{path,jdbcType=VARCHAR}, #{businessScope,jdbcType=LONGVARCHAR}, #{allInfo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="grab.dal.model.CompanyInfoWithBLOBs" >
    insert into company_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="keyId != null" >
        key_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="registerId != null" >
        register_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="creditCode != null" >
        credit_code,
      </if>
      <if test="regStatus != null" >
        reg_Status,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="legalPersonName != null" >
        legal_person_name,
      </if>
      <if test="regCapital != null" >
        reg_capital,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="registerDate != null" >
        register_date,
      </if>
      <if test="registerOrg != null" >
        register_org,
      </if>
      <if test="estiblishTime != null" >
        estiblish_Time,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="humannames != null" >
        humanNames,
      </if>
      <if test="orginalScore != null" >
        orginal_Score,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="categoryCode != null" >
        category_Code,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="trademarks != null" >
        trademarks,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="base != null" >
        base,
      </if>
      <if test="updateTime != null" >
        update_Time,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="businessScope != null" >
        business_scope,
      </if>
      <if test="allInfo != null" >
        all_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="keyId != null" >
        #{keyId,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="registerId != null" >
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="regStatus != null" >
        #{regStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null" >
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null" >
        #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        #{registerDate,jdbcType=DATE},
      </if>
      <if test="registerOrg != null" >
        #{registerOrg,jdbcType=VARCHAR},
      </if>
      <if test="estiblishTime != null" >
        #{estiblishTime,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=DATE},
      </if>
      <if test="humannames != null" >
        #{humannames,jdbcType=VARCHAR},
      </if>
      <if test="orginalScore != null" >
        #{orginalScore,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="trademarks != null" >
        #{trademarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="base != null" >
        #{base,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=LONGVARCHAR},
      </if>
      <if test="allInfo != null" >
        #{allInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="grab.dal.model.CompanyInfoWithBLOBs" >
    update company_info
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="registerId != null" >
        register_id = #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creditCode != null" >
        credit_code = #{creditCode,jdbcType=VARCHAR},
      </if>
      <if test="regStatus != null" >
        reg_Status = #{regStatus,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null" >
        legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="regCapital != null" >
        reg_capital = #{regCapital,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        register_date = #{registerDate,jdbcType=DATE},
      </if>
      <if test="registerOrg != null" >
        register_org = #{registerOrg,jdbcType=VARCHAR},
      </if>
      <if test="estiblishTime != null" >
        estiblish_Time = #{estiblishTime,jdbcType=DATE},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=DATE},
      </if>
      <if test="humannames != null" >
        humanNames = #{humannames,jdbcType=VARCHAR},
      </if>
      <if test="orginalScore != null" >
        orginal_Score = #{orginalScore,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null" >
        category_Code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="trademarks != null" >
        trademarks = #{trademarks,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="base != null" >
        base = #{base,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_Time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        business_scope = #{businessScope,jdbcType=LONGVARCHAR},
      </if>
      <if test="allInfo != null" >
        all_info = #{allInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where key_id = #{keyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="grab.dal.model.CompanyInfoWithBLOBs" >
    update company_info
    set id = #{id,jdbcType=BIGINT},
      register_id = #{registerId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      reg_Status = #{regStatus,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      reg_capital = #{regCapital,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=DATE},
      register_org = #{registerOrg,jdbcType=VARCHAR},
      estiblish_Time = #{estiblishTime,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      humanNames = #{humannames,jdbcType=VARCHAR},
      orginal_Score = #{orginalScore,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      category_Code = #{categoryCode,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      trademarks = #{trademarks,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      base = #{base,jdbcType=VARCHAR},
      update_Time = #{updateTime,jdbcType=TIMESTAMP},
      path = #{path,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=LONGVARCHAR},
      all_info = #{allInfo,jdbcType=LONGVARCHAR}
    where key_id = #{keyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="grab.dal.model.CompanyInfo" >
    update company_info
    set id = #{id,jdbcType=BIGINT},
      register_id = #{registerId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      credit_code = #{creditCode,jdbcType=VARCHAR},
      reg_Status = #{regStatus,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=VARCHAR},
      legal_person_name = #{legalPersonName,jdbcType=VARCHAR},
      reg_capital = #{regCapital,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      register_date = #{registerDate,jdbcType=DATE},
      register_org = #{registerOrg,jdbcType=VARCHAR},
      estiblish_Time = #{estiblishTime,jdbcType=DATE},
      end_date = #{endDate,jdbcType=DATE},
      humanNames = #{humannames,jdbcType=VARCHAR},
      orginal_Score = #{orginalScore,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      category_Code = #{categoryCode,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      trademarks = #{trademarks,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      base = #{base,jdbcType=VARCHAR},
      update_Time = #{updateTime,jdbcType=TIMESTAMP},
      path = #{path,jdbcType=VARCHAR}
    where key_id = #{keyId,jdbcType=INTEGER}
  </update>
</mapper>